<div class="box">
  <h3><%= name %></h3>
  <div class="inner">
    <% if videos.size == 0 %>
      <p class="no-items" style="">No videos yet. Click <%= link_to 'here', new_video_url %> to upload one.</p>
    <% end %>
    <ul>
    <% videos.each do |video| %>
      <li>
        <strong><%= link_to video.file_name, video_path(video) %></strong>
        <div class="more">
          <span class="date">Created at <%= video.created_at %></span>
          <%= link_to 'x', video_path(video), :method => :delete, :data => { :confirm => t('locomotive.messages.confirm') }, :class=>"remove" %>
        </div>
      </li>
    <% end %>
    </ul>
  </div>
</div>