<%= render :partial => 'menu' %>
<% content_for :buttons do %>
  <%= local_action_button(:show, video_path(@video), :class => 'show') %>
<% end %>

<%= semantic_form_for @video, :url => video_url(@video), :html => { :multipart => true } do |form| %>
  <%= form.inputs "Basic Information" do %>
    <%= form.input :title %>
    <%= form.input :description, :as => :text %>
    <%= form.input :category, :as => :select, :collection => Locomotive::YoutubeAccount::CATEGORIES %>
    <%= form.input :keywords, :hint => "comma-delimited keywords, e.g. 'cats, board games, cheezles'" %>
  <% end %>
  
  <div id="local-actions-bottom-bar">
    <p>
      <%= submit_tag "Save" %>
    </p>
  </div>
<% end %>