<%= render :partial => 'menu' %>

<div id="video_attachment"></div>
<p>Do not close this page while your files are uploading.<br />
  Your files will take a few minutes to be ready to play.<br />
  You can browse your uploaded videos <%= link_to 'here', videos_path %>.</p>
<div id="video_status_wrapper" style="display: none;">
  <hr />
  <h4>Completed</h4>
  <ul id="video_status_list">
  </ul>
</div>
<script type="text/javascript">
  $(function() {
    <% session_key = Rails.application.config.session_options[:key] %>
    var uploadify_script_data = {
      'AWSAccessKeyId': '<%= @aws_access_key %>',
      'key': '<%= @key %>',
      'acl': '<%= @acl %>',
      'policy': '<%= @s3_policy %>',
      'signature': '<%= @s3_signature %>'
    };
 
    $('#video_attachment').uploadify({
      swf       : '<%= asset_path("uploadify/uploadify.swf") %>',
      uploader  : '<%= @bucket_url %>',
      <% if Rails.env == 'development' %>
        debug     : true,
      <% end %>
      fileObjName : 'file',
      folder    : '<%= @upload_path %>',
      wmode     : 'transparent',
      cancelImg : '<%= asset_path("uploadify/uploadify-cancel.png") %>',
      scriptAccess:'always',
      formData  : uploadify_script_data,
      auto      : true,
      buttonText : 'Browse',
      onUploadSuccess : function(file, data, response){
        //alert("Success!  Please be patient while the video processes.");
        var file_name = file.name;
        var original_url = '<%= @bucket_url %><%= @key %>'.replace('${filename}', file_name);
        
        $.post('<%= videos_path %>', {video: {file_name: file_name, original_url: original_url}},
          function(data) {
            console.log("uploaded");
            console.log(data);
            $('#video_status_wrapper').show();
            $('#video_status_list').append($('<li>'+file_name+'</li>'));
          }
        );
      },
      onUploadError: function(file, errorCode, errorMessage, errorString){
        //alert("There was an error with the file you tried uploading.\n Please verify that it is the correct type.");
        console.log(errorCode);
        console.log(errorMessage);
        console.log(errorString);
      }
    });
  });
</script>